In [1]:
import pandas as pd
import plotly.express as px
import numpy as np

## Data Preprocess

In [2]:
data = pd.read_csv('NOVAIMS_MAA_2020e21_BusinessCasesDataScience_MindOverData_RetailChallenge.csv')

In [3]:
data.head()

,Unnamed: 0,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Value,Units
0,1,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-03-04,1540.0,2.0
1,3,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-05-02,3080.0,4.0
2,5,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2016-10-24,1540.0,2.0
3,9,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-10-13,1620.0,2.0
4,10,Family_16,Category_11,ProductBrand_306,ProductName_649,ProductSKU_1970,POS_1,2017-10-14,1620.0,2.0

In [5]:
data['Measures'].value_counts()

Sell-out units     91171152
Sell-out values    91171152
Name: Measures, dtype: int64

In [6]:
len(data['ProductFamily_ID'].unique())

21

In [7]:
len(data['ProductCategory_ID'].unique())

178

In [8]:
len(data['ProductBrand_ID'].unique())

1523

In [9]:
len(data['ProductName_ID'].unique())

2820

In [10]:
len(data['ProductPackSKU_ID'].unique())

8509

In [11]:
len(data['Point-of-Sale_ID'].unique())

410

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182342304 entries, 0 to 182342303
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   ProductFamily_ID    object
 1   ProductCategory_ID  object
 2   ProductBrand_ID     object
 3   ProductName_ID      object
 4   ProductPackSKU_ID   object
 5   Point-of-Sale_ID    object
 6   Date                object
 7   Measures            object
 8   Value               float64
dtypes: float64(1), object(8)
memory usage: 12.2+ GB

In [13]:
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d', errors='ignore')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182342304 entries, 0 to 182342303
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   ProductFamily_ID    object
 1   ProductCategory_ID  object
 2   ProductBrand_ID     object
 3   ProductName_ID      object
 4   ProductPackSKU_ID   object
 5   Point-of-Sale_ID    object
 6   Date                datetime64[ns]
 7   Measures            object
 8   Value               float64
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 12.2+ GB

In [4]:
unit_df = data[data['Measures']=='Sell-out units'].copy()
value_df = data[data['Measures']=='Sell-out values'].copy()

In [7]:
df_units = data[data["Measures"] == "Sell-out units"]

In [8]:
df_value = data[data["Measures"] == "Sell-out values"]

In [9]:
df_value["Units"] = df_units["Value"].values

<ipython-input-9-686b9fc50b8e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_value["Units"] = df_units["Value"].values

In [10]:
data = df_value.drop("Measures", axis=1)

In [4]:
data['ProductFamily_ID'] = data['ProductFamily_ID'].str.split('_').str[1]

In [5]:
data['ProductCategory_ID'] = data['ProductCategory_ID'].str.split('_').str[1]

In [6]:
data['ProductBrand_ID'] = data['ProductBrand_ID'].str.split('_').str[1]

In [7]:
data['ProductName_ID'] = data['ProductName_ID'].str.split('_').str[1]

In [2]:
#data['ProductPackSKU_ID'] = data['ProductPackSKU_ID'].str.split('_').str[1]

In [9]:
data.head()

,Unnamed: 0,ProductFamily_ID,ProductCategory_ID,ProductBrand_ID,ProductName_ID,ProductPackSKU_ID,Point-of-Sale_ID,Date,Value,Units
0,1,16,11,306,649,ProductSKU_1970,POS_1,2017-03-04,1540.0,2.0
1,3,16,11,306,649,ProductSKU_1970,POS_1,2016-05-02,3080.0,4.0
2,5,16,11,306,649,ProductSKU_1970,POS_1,2016-10-24,1540.0,2.0
3,9,16,11,306,649,ProductSKU_1970,POS_1,2017-10-13,1620.0,2.0
4,10,16,11,306,649,ProductSKU_1970,POS_1,2017-10-14,1620.0,2.0

In [ ]:
data['Point-of-Sale_ID'] = data['Point-of-Sale_ID'].str.split('_').str[1]

In [ ]:
data['Date'] = pd.to_datetime(data['Date'])

In [25]:
data.to_csv('data_preprocess.csv')

# New Data Set

In [ ]:
data = pd.read_csv('data_preprocess.csv')